* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.container {
  background-color: #1a253f;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.heading {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 20px;
  color: #4d79f6;
}
.btn {
  background-color: #4d79f6;
  outline: none;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s all ease;
  color: white;
}
.btn:hover {
  /* box-shadow: 1px 4px 10px rgb(129, 124, 107); */
  background-color: #205cff;
}
p {
  color: #6879ae;
  font-weight: 600;
  font-size: large;
  margin-bottom: 30px;
}
span {
  border: 1px solid #6879ae;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 500;
}
